@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.layout {
  display: flex;
  flex-direction: column;
}
.layout__container {
  width: 100%;
}
.layout__container_align_center {
  margin: 0 auto;
}
.layout__container_size_m {
  max-width: 824px;
}
@media (max-width: 800px) {
  .layout__container_size_m {
    max-width: 580px;
  }
}
@media (max-width: 600px) {
  .layout__container_size_m {
    max-width: 380px;
  }
}
@media (max-width: 400px) {
  .layout__container_size_m {
    max-width: 300px;
  }
}
.layout__height_100 {
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.button_size_s {
  height: 28px;
}
.button_size_m {
  height: 36px;
}
.button_primary {
  color: #000000;
  background: #E6E6E6;
}
.button_success {
  color: #000000;
  background: #FFCC00;
}
.button_link {
  color: #7F8285;
}
.button_link:hover {
  color: #E00000;
}
.button_link_disabled {
  color: #7F8285;
  cursor: default;
}
.button_icon {
  width: 28px;
}
.button_icon_mobile-only {
  width: auto;
}
@media (max-width: 400px) {
  .button_icon_mobile-only {
    width: 28px;
  }
}

.text_size_m {
  font-size: 13px;
}
.text_size_l {
  font-size: 15px;
}
.text_size_xl {
  font-size: 24px;
}
@media (max-width: 600px) {
  .text_size_xl {
    font-size: 18px;
  }
}
.text_color_title {
  color: #7F8285;
}
.text_color_repo {
  color: #000000;
}
.text_required {
  color: #FF3333;
}
@media (max-width: 400px) {
  .text_mobile_hidden {
    display: none;
  }
}
.text_with_icon {
  margin-right: 13px;
}
.text_no-wrap {
  white-space: nowrap;
}
.text_overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  height: 36px;
  padding: 0 13px;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
}
.input_text {
  width: 100%;
}
.input_number {
  width: 52px;
  text-align: right;
}
.input:focus {
  outline: none;
  border: 2px solid #B3B3B3;
}

.icon_size_s {
  width: 12px;
  height: 12px;
}
.icon_with_text {
  margin-left: 8px;
  margin-right: 5px;
}

.settings-icon {
  background: url("/static/cog_1.svg");
}

.rebuild-icon {
  background: url("/static/12_rebuild.svg");
}

.play-icon {
  background: url("/static/12_play.svg");
}

.build-info {
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;
}

.footer {
  background: #F0F2F3;
  margin-top: auto;
}
.footer__content {
  font-size: 13px;
  line-height: 16px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 400px) {
  .footer__content {
    height: 68px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
}
.footer__links {
  display: flex;
}
.footer__link {
  margin-right: 12px;
}

.header__content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button_margin {
  margin-right: 8px;
}
.header__buttons {
  display: flex;
}

.dash {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dash__message {
  width: 264px;
  height: 32px;
  text-align: center;
  line-height: 125%;
  margin: 32px 0 24px;
}
.dash__settings-button {
  width: 123px;
}

.form__content {
  max-width: 474px;
  display: flex;
  flex-direction: column;
}
.form__label {
  margin-bottom: 6px;
}
.form__group {
  margin-bottom: 18px;
}
.form__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  margin: 8px 0;
}
.form__description {
  color: #7F8285;
  height: 18px;
  margin-bottom: 22px;
}
.form__synchronize-block {
  height: 60px;
  margin-bottom: 12px;
}
.form__github-repo {
  height: 60px;
}
.form__buttons {
  display: flex;
}
@media (max-width: 400px) {
  .form__buttons {
    flex-direction: column;
  }
}
.form__btn_save {
  width: 69px;
  margin-right: 8px;
}
@media (max-width: 400px) {
  .form__btn_save {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.form__btn_cancel {
  width: 80px;
}
@media (max-width: 400px) {
  .form__btn_cancel {
    width: 100%;
  }
}

html, body {
  box-sizing: border-box;
  background: #fff;
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "YS Text", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}