.footer {
    background: #F0F2F3;
    margin-top: auto;

    &__content {
        font-size: 13px;
        line-height: 16px;

        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 400px) {
            height: 68px;
            align-items: start;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__links {
        display: flex;
    }

    &__link {
        margin-right: 12px;
    }
}