.footer {
    background: #F0F2F3;
    margin-top: auto;

    &__content {
        font-size: 13px;
        line-height: 16px;

        height: 32px;
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: 12px;

        &_last {
            margin-right: 0;
            margin-left: auto;
        }
    }
}