.form {

    &__content {
        max-width: 474px;
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 6px;
    }

    &__group {
        margin-bottom: 18px;
    }
    
    &__title {
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        height: 20px;
        margin: 8px 0;
    }

    &__description {
        color: #7F8285;
        height: 18px;
        margin-bottom: 22px;
    }

    &__synchronize-block {
        height: 60px;
        margin-bottom: 12px;
    }

    &__github-repo {
        height: 60px;
    }

    &__buttons {
        display: flex;
        
        @media (max-width: 400px) {
            flex-direction: column;
        }
    }

    &__btn_save {
        width: 69px;
        margin-right: 8px;

        @media (max-width: 400px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 12px;
        }
    }

    &__btn_cancel {
        width: 80px;

        @media (max-width: 400px) {
            width: 100%
        }
    }
}