.header {
    &__content {
        height: 50px;
        display: flex;
        color: #000;
        align-items: center;
        justify-content: space-between;
    }

    &__repo-name {
        color: #7F8285;
    }

    &__header-buttons {
        display: flex;
    }

    &__rebuild-button {
        width: 84px;
    }

    &__rebuild-button-icon {

    }

    &__settings-button {
        margin-left: 8px;;
        width: 87px;

        &_only-icon {
            width: 28px;
        }
    }
}