.header {
    &__content {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button_margin {
        margin-right: 8px;
    }

    &__buttons {
        display: flex;
    }
}