.build-list {
    &__more {
        margin-bottom: 20px;

        @media (max-width: 600px) {
            display: flex;
        }
    }
}

.build-info {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
}

.build-log {
    font-family: Hack;
    background: #F2F2F2;
    border-radius: 6px;
    opacity: 0.9;
    margin: 0;
    overflow-x: scroll;
    font-size: 13px;
}

.dash-message {
    max-width: 264px;
    text-align: center;
    line-height: 125%;
    margin: 32px 0 24px;
}

.card {
    padding: 12px 24px 4px;
    min-height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);  
    border-radius: 6px;

    &__extended_false {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);    
        }
    }

    &__extended_true {
        margin-bottom: 12px;
    }

    &__status, &__commit-date {
        margin-right: 10px;
    }

    &__branch {
        &-hash {
            color: #595959;
            margin-right: 10px;
            max-width: 120px;
        }

        &-name, &-icon {
            max-width: 120px;
            margin-right: 4px;
        }
    }

    &__user {
        &-name, &-icon {
            max-width: 120px;
            margin-right: 4px;
        }
    }

    &__build-duration, &__commit-date {
        color: #595959;
        max-width: 120px;
    }

    &__build-duration-icon, &__commit-date-icon {
        margin-right: 4px;  
    }

    &__ticket {
        font-size: 18px;
        margin-right: 4px;

        &_done {
            color: #00B341;
        }

        &_fail {
            color: #FF3333;
        }

        &_clock {
            color: #FF9A00;
        }
    }

    @media (max-width: 600px) {
        &__info {
            flex-direction: column;
        }

        &__commit-message, &__commit-about {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &__commit-times {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

.form {
    &__content {
        max-width: 474px;
    }

    &__group {
        margin-bottom: 18px;
    }

    &__label {
        margin-bottom: 6px;
    }

    &__input {
        position: relative;

        &_clear-icon {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    
    &__title {
        font-weight: bold;
        height: 20px;
        margin: 8px 0;
    }

    &__description {
        color: #7F8285;
        height: 18px;
        margin-bottom: 22px;
    }

    &__synchronize-block {
        height: 60px;
        margin-bottom: 12px;
    }

    &__github-repo {
        height: 60px;
    }

    &__btn_save {
        margin-right: 8px;

        @media (max-width: 400px) {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }

    &__btn_save, &__btn_cancel {
        outline: none;
        border: 0;
        
        &:focus {
            padding-right: 18px;
            padding-left: 18px;
        }

        &:disabled {
            background: #F2F2F2;
        }
    }
}

.header {
    &__content {
        min-height: 50px;
    }
}

.footer {
    background: #F0F2F3;

    &__link {
        padding: 0;
        margin-right: 12px;
    }
}