@use 'base/vars';
@use 'base/fonts';
@use 'base/layout';
@use 'base/content';
@use 'main';
@use 'footer';
@use 'header';
@use 'dash';
@use 'form';

html, body {
    box-sizing: border-box;
    background: vars.$default;
    min-width: 320px;
    height: 100%;
}

body {
    font-family: 'YS Text', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: inherit;
}
