@use 'fonts';
@use 'icons';

@use 'layout';
@use 'block';
@use 'content';

html, body {
    box-sizing: border-box;
    background: #fff;
    min-width: 320px;
    height: 100%;
}

body {
    font-family: 'YS Text', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}