.button {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &_size {
        &_s {
            height: 28px;
            padding-right: 13px;
            padding-left: 13px;
        }

        &_m {
            height: 36px;
            padding-right: 20px;
            padding-left: 20px;
        }

        &_icon {
            padding: 8px;
        }

        &_text-with-icon {
            padding-right: 13px;
            padding-left: 8px;
        }

        &_100 {
            justify-content: center;
        }
    }

    &_primary {
        color: #000000;
        background: #E6E6E6;

        &:hover {
            background: #DBDBDB;
        }

        &:focus {
            border: 2px solid #B3B3B3;
        }
    }

    &_success {
        color: #000000; 
        background: #FFCC00;

        &:hover {
            background: #F2C200;
        }

        &:focus {
            border: 2px solid #B38F00;
        }
    }

    &_link {
        color: #7F8285;

        &:hover {
            color: #E00000;
        }

        &_disabled {
            color: #7F8285;
            cursor: default
        }
    }
}