.log {
    font-family: Hack;
    line-height: 20px;
    letter-spacing: 0.33px;
    color: #000;
    opacity: 0.9;

    background: #F2F2F2;
    border-radius: 6px;
    overflow-x: scroll;
    margin: 0;
}