.log {
    font-family: Hack;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.33px;
    background: #F2F2F2;
    border-radius: 6px;
    overflow-x: scroll;

    margin: 0;
    font-size: 13px;
    color: #000;
    opacity: 0.9;
}