@use 'vars';

.button {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &_size {
        &_s {
            height: 28px;
            padding-right: 13px;
            padding-left: 13px;
        }

        &_m {
            height: 36px;
            padding-right: 20px;
            padding-left: 20px;
        }

        &_icon {
            padding: 8px;
        }

        &_text-with-icon {
            padding-right: 13px;
            padding-left: 8px;
        }

        &_100 {
            justify-content: center;
        }
    }

    &_primary {
        color: #000000;
        background: #E6E6E6;

        &:hover {
            background: #DBDBDB;
        }

        &:focus {
            border: 2px solid #B3B3B3;
        }
    }

    &_success {
        color: #000000; 
        background: #FFCC00;

        &:hover {
            background: #F2C200;
        }

        &:focus {
            border: 2px solid #B38F00;
        }
    }

    &_link {
        color: #7F8285;

        &:hover {
            color: #E00000;
        }

        &_disabled {
            color: #7F8285;
            cursor: default
        }
    }
}

.text {
    &_size {
        &_m {
            font-size: 13px;
        }

        &_l {
            font-size: 15px;
        }
    
        &_xl {
            font-size: 24px;

            @media (max-width: 600px) {
                font-size: 18px;
            }
        }
    }

    &_color {
        &_title {
            color: #7F8285;
        }

        &_repo {
            color: #000000;
        }
    }

    &_required{
        color: #FF3333;
    }

    &_no-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.input {
    height: 36px;
    border: 2px solid #D9D9D9;
    border-radius: 4px;

    &_text {
        width: 100%;
        padding: 0 28px 0 13px;
    }

    &_number {
        width: 52px;
        padding: 0 13px;
        text-align: right;
        margin-left: 5px;
        margin-right: 5px;
    }

    &:focus {
        outline: none;
        border: 2px solid #B3B3B3;
    }

    &::placeholder {
        color: #DFDFDF;
    }
}

.icon {
    &_size {
        &_s {
            width: 12px;
            height: 12px;
        }

        &_m {
            width: 16px;
            height: 16px;
        }

        &_l {
            width: 24px;
            height: 24px;
        }
    }

    &_with-text {
        margin-right: 5px;
    }
}

.divider {
    background: #F0F2F3;
    height: 1px;

    &_desktop_hidden {
        @media (min-width: 600px) {
            display: none;
        }
    }
}