@use 'vars';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &_size {
        &_s {
            height: 28px;
        }

        &_m {
            height: 36px;
        }
    }

    &_primary {
        color: #000000;
        background: #E6E6E6;
    }

    &_success {
        color: #000000; 
        background: #FFCC00;
    }

    &_link {
        color: #7F8285;

        &:hover {
            color: #E00000;
        }

        &_disabled {
            color: #7F8285;
            cursor: default
        }
    }
}

.text {

    &_size {
        &_m {
            font-size: 13px;
        }
    
        &_l {
            font-size: 15px;
        }
    
        &_xl {
            font-size: 24px;
        }
    }

    &_color {
        &_title {
            color: #7F8285;
        }

        &_repo {
            color: #000000;
        }
    }
}