.layout {
	&_center {
		margin: 0 auto;
	}

	&_size {
		&_m {
			max-width: 824px;
			
			@media (max-width: 800px) {
				max-width: 580px;
				
			}

			@media (max-width: 600px) {
				max-width: 380px;
			}

			@media (max-width: 400px) {
				max-width: 300px;
			}
		}
	}

	&_mobile {
		&_hidden {
			@media (max-width: 600px) {
				display: none;
			}
		}
	}

	&_desktop {
		&_hidden {
			@media (min-width: 600px) {
				display: none;
			}
		}
	}
}

.flex {
	display: flex;

	&-1 {
		flex: 1;
	}

	&-0 {
		flex: 0;
	}

	&_direction {
		&_column {
			flex-direction: column;
		}
	}

	&_jc {
		&_center {
			justify-content: center;
		}

		&_space_between {
			justify-content: space-between;
		}

		&_start {
			justify-content: flex-start;
		}
	}

	&_ai {
		&_center {
			align-items: center;
		}
	}

	&_mobile {
		&_direction {
			&_column {        
				@media (max-width: 400px) {
					flex-direction: column;
				}
			}
		}

		&_ai {
			&_start {
				@media (max-width: 400px) {
					align-items: flex-start;
				}
			}
		}
	}
}

.mr-8 {
	margin-right: 8px;
}

.mb-8 {
	margin-bottom: 8px;
}