.layout {
	display: flex;
	flex-direction: column;

	&__container {
        width: 100%;

		&_align {
			&_center {
				margin: 0 auto;
			}
		}

		&_size {
			&_m {
				max-width: 824px;
				
				@media (max-width: 800px) {
					max-width: 580px;
					
				}

				@media (max-width: 600px) {
					max-width: 380px;
				}

				@media (max-width: 400px) {
					max-width: 300px;
				}
            }
		}
    }
    
    &__height {
        &_100 {
            height: 100%;
        }
    }
}
